@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body { margin: 0; padding: 0; overflow: hidden; }